#heading{
    text-align: center;
    font-size: 3em;
}

#num{
    text-align: center;
    font-size: 2em;
}

#button-container{
    text-align: center;
}

#generator{
    font-size: 2em;
    border-radius: 5px;
    border-color: rgba(255, 255, 0, 0.493);
    background-color: rgba(255, 255, 0, 0.545);
}
#generator:hover{
    font-size: 2em;
    border-radius: 5px;
    border-color: rgba(255, 255, 0, 0.629);
    background-color: rgba(255, 255, 0, 0.697);
}
#generator:active{
    font-size: 2em;
    border-radius: 5px;
    border-color: rgba(255, 255, 0, 0.812);
    background-color: rgba(255, 255, 0, 0.879);
}